<div id="app">
</div>
<script type="text/babel" src="/js/tempData.js">
</script>
<script type="text/babel" src="/js/context/index.js">
</script>
<script type="text/babel" src="/js/components/Header.js"> 
</script>
<script type="text/babel" src="/js/components/Track.js"> 
</script>
<script type="text/babel" src="/js/components/Tracks.js">
</script>
<script type="text/babel" src="/js/components/Searchbar.js">
</script>
<script type="text/babel" src="/js/components/TalkBreak.js">
</script>
<script type="text/babel" src="/js/components/Playlist.Editor.js">
</script>
<script type="text/babel" src="/js/components/CurrentTrack.js">
</script>
<script type="text/babel" src="/js/components/Login.js">
</script>
<script type="text/babel" src="/js/components/App.js"> 
</script>
