<div id="app">
</div>
<script type="text/babel" src="/js/components/Header.js"> 
</script>
<script type="text/babel" src="/js/components/Track.js"> 
</script>
<script type="text/babel" src="/js/components/Tracks.js">
</script>
<script type="text/babel" src="/js/components/App.js"> 
</script>
